//Standard Styles
body {
	background: rgb(240, 240, 240);
	color: #222;
	font-size: 15px;
}

input {
	border: 1px solid silver;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 7px;
	background: rgba(243, 243, 243, 0.65);
}

//Box Sizing
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

//Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


//Grid structure
.container {
	width: 100%;
}

.row {
	max-width: 960px;
	padding: 15px;
	margin: 0 auto;
}

.full {
	width: 100%;
}

.half {
	width: 49%;
	float: left;
	margin-right: 2%;
}

.third {
	width: 32%;
	margin-right: 2%;
	float: left;
}

.last {
	margin-right: 0px;
}

//Main Style 
.main {
	background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
}

//Header Styles 
.header {
	height: 60px;
	color: white;
	margin-bottom: 20px;
	background: #f69737;
}

//Dashboard Styles
.select-box {
	background: white;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	border: 2px solid rgb(233, 233, 233);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	a {
		color: #444;
		text-decoration: none;
	}
	img {
		margin-bottom: 30px;
	}
}

//View all contacts Style

.contact-list {
	padding-left: 0px;
}
.contact-single {
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
	list-style:none;
	line-height: 100%;

}

.view-contact {
	float: right;
	background: #00b653;
	color: white;
	padding: 3px 5px;
	font-size: 13px;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.delete-contact {
	float: right;
	background: #00b653;
	color: white;
	padding: 3px 5px;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


//Create Contact Style
.single-form {
	margin-bottom: 10px;}